version: "3.7"

services:
  team-backend:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ./src:/teamfolder/src
    ports:
      - 3000:3000
    env_file:
      - ./.env.dev
    environment:
      - TZ=Asia/Seoul

  # team-database:
  #   # platform: linux/x86_64
  #   image: mysql:latest
  #   environment:
  #     MYSQL_DATABASE: "teamdocker"
  #     MYSQL_ROOT_PASSWORD: "root"
  #     TZ: Asia/Seoul
  #   ports:
  #     - 3306:3306

  # team-redis:
  #   image: redis:latest
  #   ports:
  #     - 6379:6379
  #   environment:
  #     TZ: Asia/Seoul

  elasticsearch:
    build:
      context: ./elk/elasticsearch
      dockerfile: Dockerfile.elasticsearch
    environment:
      discovery.type: single-node
    ports:
      - 9200:9200

  logstash:
    image: logstash:7.17.0
    volumes:
      - ./elk/logstash/logstash.conf:/usr/share/logstash/pipeline/logstash.conf
      - ./elk/logstash/mysql-connector-java-8.0.28.jar:/usr/share/logstash/mysql-connector-java-8.0.28.jar
      - ./elk/elasticsearch/config-elasticsearch.json:/usr/share/logstash/config-elasticsearch.json

  # kibana:
  #   image: kibana:7.17.0
  #   environment:
  #     ELASTICSEARCH_URL: http://elasticsearch:9200
  #     ELASTICSEARCH_HOST: http://elasticsearch:9200
  #   ports:
  #     - 5601:5601
